.nav-dropdown-button {display: none;}
.video-skirt {display: none;}
.contact-button {display: none;}
.film-description {display: none;}

nav {
    display: none;
}
body {
    background-color: #000000;
    margin: 1em;
    padding: 0;
    box-sizing: border-box;
    height: auto;
}
button {
    font-size: 14px;
    border: none;
    background: none;
    color: white;
}
h1, h2, h3, p, button {
    color: white;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}
h1 {
    font-size: 18px;
}
h3 {
    font-size: 14px;
}
p {
    font-size: 14px;
}
a {
    text-decoration: none;
    color: #ffffff;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8%;
}
.header-hamburger img {
    width: 28px;
    padding-top: 3px;
}
.header-hamburger {
    display: block;
}
.thumbnail {
    max-width: 100%;
}
main {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin-top: 2em;
}
.film-section {
    margin: 3em 0;
}
.film-details {
    display: flex;
    flex-direction: column;
    max-width: 100%;
}
.film-heading {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: .5em 0;
}
.film-title {
    text-decoration: underline;
}
.film-tag {
    color: white;
}
.title-gallery-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
.gallery-image {
    width: 100%;
    max-width: 1920px;
    height: auto;
}
.restrict-width {
    width: 100%;
}
.img-featured {
    border: solid .5px white;
}
.continued .title-gallery-item {
    margin: 2em 0;
}

/* when viewport is greater than or equal to 760px */
@media (min-width: 760px) {
    body {
        margin: 2em;
    }
    main {margin-top: 0;}
    .brief-film-description {display: none;}
    .film-description {display: block;}
    .header-hamburger {display: none;}
    .contact-button {display: block;}
    /* flip class applied to every other film-section via flip.js */
    .flip {flex-direction: row-reverse}
    .flip .film-details {
        text-align: right;
        margin: 0 2em 0 0;
    }
    .flip .film-heading {flex-direction: row-reverse;}
    .flip .film-date {margin-left: 1em}

    .nav-dropdown-button {
        display: flex;
        width: 10px;
        padding: .3em;
        margin: .4em .4em .2em .4em;
    }
    header {
        position: sticky;
        top: 2em;
        margin: auto;
    }
    nav {
        display: flex;
        flex-direction: column;
        position: sticky;
        top: 76px;
        margin: auto;
    }
    .navlist {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        max-height: 170px;
        width: 300px;
    }
    .navlist a {
        margin: .5em 0;
    }
    .film-section {
        display: flex;
        max-width: 1300px;
    }
    .film-details {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-left: 2em;
        width: 100%;
    }
    .removemargin {
        margin-left: 0;
    }
    .film-heading {
        display: flex;
        justify-content: space-between;
        margin: 1.5em 0;
    }
    .film-title {font-size: 20px;}
    .film-date {
        font-size: 16px;
        margin-right: 1em;
    }
    .thumbnail {
        border: solid .5px white;
        border-radius: 10px;
        max-width: 53%;
        /* TO FIX: image stretches vertically around ~800 pixels */
    }
    .header-text {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .title-gallery {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 900px;
    }
    .title-gallery-item {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .gallery-image {
        width: 100%;
        height: auto;
    }
    .title-page {
        flex-direction: column;
        align-items: flex-start;
        max-width: 100%;
    }
    .img-featured {
        border: solid .5px white;
    }
    .continued {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 2em 0;
    }
}